.nav{
    display: flex;
    justify-content: flex-end;
}

.linkitem{
    text-decoration: none;  
    padding: 10px;
}

.link{
    text-decoration: none;
    color:var(--primary-color);
}

.link:hover{
 opacity: 0.5;   
}
